html,body {
	position: relative;
	height: 100%;
}

body {
	margin: 0 auto;
	padding: 0;
	background: #FFF;
	color: #333;
	text-align: center;
    font-family: Helvetica;
    min-width: 320px;
    max-width: 750px;
	position: relative;
	height: 100%;
}

div,form,ul,ol,li,span,p,dl,dt,dd,img,section,header,footer,input,textarea,a,i {
	margin: 0 auto;
	padding: 0;
	border: 0;
    outline: none;
    list-style-type: none;
    -moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box
}


h1,h2,h3,h4,h5,h6 {
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
	padding: 0;
	border: 0
}

a{
    text-decoration: none;
}